<!DOCTYPE html>
<html>

   <head>
      <title>File MetaData Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   
     
    <h1>File Metadata Microservice</h1>
    <body>
     
      <div class="container">
     <h2>
       Upload a file and get the size in bytes as response.
        </h2>    
     <form action="/fileupload" method="post" enctype="multipart/form-data">
       <input class="button" type="file" name="fname" value="upload"/>
       <input class="button" type="submit" value="submit" name="submit">
     </form>
     
      </div>
     <footer>&copy; vikrant17</footer>
   </body>

     
  

</html>
